<h2>About</h2>

<p>This is an application made as part of a bachelor's thesis.</p>
<p>It is an application for creating small surveys, which takes little effort to answer.</p>
<p>The creators is bachelor's group BO19G21 from Østfold University College.</p>
<p>The employer who ordered this project is Infotjenester AS, department Grålum, Østfold.</p>